h1 {
  text-transform: uppercase;
  color: purple;
  font-size: x-large;
  font-weight: 700;
}

h2 {
  text-transform: uppercase;
  color: purple;
  font-size: large;
  font-weight: 600;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color : #d1d1d1;
}

::placeholder {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: darkgray;
}

input[type=submit] {
  width: 100%;
  background-color: #04C2FE;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: gray;
  color: white;
}
